// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 // Defining a variable
 $green: #70A9A1;
 $darkgreen: #40798C;

h1{
  color: $darkgreen;
  margin-top: 32px;
  margin-bottom: 48px;
}

p{
  color: $darkgreen;
}

.btn-primary{
  background-color: $green;
  border: 1px solid $green;
}

.btn-primary:hover{
  background-color: $green;
  border: 1px solid $green;
  opacity: 0.6;
}

.appcontainer{
  width: 800px;
  margin: 0 auto;
  box-shadow: 4px 4px 0px $darkgreen;
}

.letters{
  width: 600px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter{
  background-color: $green;
  font-size: 32px;
  color: white;
  margin: 8px 16px;
  width: 64px;
  padding: 4px 8px;
  text-align: center;
  box-shadow: 4px 4px 0px 0px #70A9A133;
}